/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    background-color: #151515;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

nav a, nav button {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px 20px;
    background: #151515;
    border: none;
    border-radius: 5px;
    transition: background 0.3s;
}

nav button, nav a {
    background: purple;
    border: none;
    cursor: pointer;
}

nav a:hover {
    background: #660066;
}

nav button:hover {
    background: red;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.form input, .form textarea, .form select, .form span {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    padding: 8px;
}

.form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.form button:hover {
    background-color: #660066;
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-item img {
    width: 100%;
    height: auto;
}

.book-details {
    padding: 10px;
    margin-top: 10px;
}

.star-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.star-rating .star {
    cursor: pointer;
    font-size: 24px;
    color: gray;
    transition: color 0.3s;
}

.star-rating .star.filled {
    color: gold;
}

star-rating .star:hover {
    color: gold;
}

.rating-value {
    margin-left: 10px;
    font-weight: bold;
}

#pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

#pagination-controls button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

#pagination-controls button:hover {
    background-color: #660066;
}

footer {
    background-color: #151515;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 1rem;
}

.search-bar input, .search-bar select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
}

.search-bar button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

.book-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.book-item img {
    max-width: 80px;
    height: auto;
    border-radius: 5px;
    margin-right: 1rem;
}

.book-details {
    display: flex;
    flex-direction: column;
}

.book-item h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.book-item p {
    font-size: 1rem;
    color: #555;
    margin: 0;
}

.admin-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.back-button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    margin-top: 20px;
    padding: 10px 20px;
}

back-button:hover {
    background-color: #555;
}

#user-info .form input[readonly] {
    background-color: #f4f4f4;
    cursor: not-allowed;
}

/* Estilos específicos para a página de detalhes */
#book-details {
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

#book-details img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

#book-details h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#book-details p {
    font-size: 1.2rem;
    color: #555;
    text-align: center;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.tag-card {
    background-color: #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
}

.star-rating {
    display: inline-flex;
    align-items: center;
}

.star {
    font-size: 20px;
    margin-right: 2px;
    position: relative;
    color: gray; /* Estrelas vazias são cinzas por padrão */
}

.star.filled {
    color: gold; /* Estrelas preenchidas são douradas */
}

.star.half-filled .half {
    color: gold;
    position: absolute;
    width: 50%;
    overflow: hidden;
}

.star.half-filled .empty {
    color: gray;
}

.rating-value {
    margin-left: 5px;
    font-size: 16px;
    color: #333;
}

/* Estilos para o formulário de review */
#review-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#review-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

#review-form .star-rating {
    display: flex;
    gap: 5px;
}

#review-form .star-rating .star {
    cursor: pointer;
    font-size: 24px;
    color: gray;
}

#review-form .star-rating .star.filled {
    color: gold;
}

#review-form textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

#review-form button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#review-form button[type="submit"]:hover {
    background-color: #660066;
}

/* Estilos para a seção de comentários */
#reviews-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.review-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.review-item:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    scale: 1.5;
    cursor: pointer;
    padding: 0 10px 0 10px;
}

.review-user {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

.review-comment {
    margin-top: 10px;
    font-style: italic;
    text-align: center;
    font-size: 16px;
}

.review-item button {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: white;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s;
}

.review-item button:hover {
    background-color: #3700b3;
}

.review-item .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.review-item .button-container .like-button,
.review-item .button-container .dislike-button {
    background-color: #28a745;
}

.review-item .button-container .like-button:hover,
.review-item .button-container .dislike-button:hover {
    background-color: #218838;
}

.review-item .button-container .dislike-button {
    background-color: #dc3545;
}

.review-item .button-container .dislike-button:hover {
    background-color: #c82333;
}

.review-item .button-container .save-button {
    background-color: #28a745;
    color: white;
}

.review-item .button-container .cancel-button {
    background-color: #dc3545;
    color: white;
}

.review-item .button-container .save-button:hover {
    background-color: #218838;
}

.review-item .button-container .cancel-button:hover {
    background-color: #c82333;
}

.review-item .review-date {
    font-size: 12px;
    color: #666;
    text-align: center;
    margin-top: 5px;
}

.review-rating.non-interactive {
    pointer-events: none; /* Desativa a interação do mouse */
    color: inherit; /* Mantém a cor original */
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag-card {
    background: #6200ea;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.review-item.editing {
    background-color: #fff3cd;
}

.review-item input,
.review-item textarea {
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.review-item .button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.review-item .button-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background 0.3s;
}

.review-item .button-container .save-button {
    background-color: #28a745;
    color: white;
}

.review-item .button-container .cancel-button {
    background-color: #dc3545;
    color: white;
}

.review-item .button-container .save-button:hover {
    background-color: #218838;
}

.review-item .button-container .cancel-button:hover {
    background-color: #c82333;
}

.profile-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-picture-container {
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

.profile-picture-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

#upload-picture-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#upload-picture-button:hover {
    background-color: #0056b3;
}

#update-profile-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#update-profile-button:hover {
    background-color: #0056b3;
}

#user-details p {
    margin: 10px 0;
}

.form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.form input, .form span {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#edit-profile-button, #update-profile-button, #cancel-update-button {
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile-button {
    background-color: #007bff;
}

#edit-profile-button:hover {
    background-color: #0056b3;
}

#update-profile-button {
    background-color: #28a745;
}

#update-profile-button:hover {
    background-color: #218838;
}

#cancel-update-button {
    background-color: #dc3545;
}

#cancel-update-button:hover {
    background-color: #c82333;
}

#edit-profile-button, #update-profile-button, #cancel-update-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile-button:hover, #update-profile-button:hover, #cancel-update-button:hover {
    background-color: #0056b3;
}

#cancel-update-button {
    background-color: #dc3545;
}

#cancel-update-button:hover {
    background-color: #c82333;
}

#profile-picture-display {
    cursor: pointer;
}

#profile-picture-instruction {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

#edit-profile-button {
    bottom: 10px;
    right: 10px;
    margin-top: 0; /* Remover a margem superior para alinhar com o botão de voltar */
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile-button:hover {
    background-color: #0056b3;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #555;
}

#edit-profile-button, .back-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-profile-button:hover, .back-button:hover {
    background-color: #555;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.heart {
    font-size: 24px;
    cursor: pointer;
    color: gray;
}

.heart.filled {
    color: red;
}